<div class="customNav">
    <button routerLink="/rapido" class="btn">Rapido</button>
    <button routerLink="/school" class="btn">School</button>
    <button routerLink="/apollotyre" class="btn">tyre</button>
    <button routerLink="/stocks" class="btn">Stocks</button>
    <button routerLink="/language" class="btn">Language</button>
</div>
<div class="row">
    <div class="g1">
      <app-pie></app-pie>
    </div>
    <div class="g1">
        <app-line></app-line>
    </div>
    <div class="g1">
      <app-bar></app-bar>
    </div>
</div>
<!-- //------------------------------Row2------------------------------------------- -->
<div class="row">
    <div class="g1">
        <app-column></app-column>
    </div>
    <div class="g1">
        <app-area></app-area>
    </div>
    <div class="g1">
        <app-scatter></app-scatter>
    </div>
</div>
<!-- //-----------------------------------------row3 -->
<div class="row">
    <div class="g1">
        <app-bubble></app-bubble>
    </div>
    <div class="g1">
    <app-annotation></app-annotation>
    </div>
    <div class="g1">
        <app-calendar></app-calendar>
    </div>
</div>
<!-- row4-------------------------- -->
<div class="row">
    <div class="g1">
      <app-candlestick></app-candlestick>
    </div>
    <div class="g1">
        <app-combo></app-combo>
    </div>
    <div class="g1">
        <app-gantt></app-gantt>
    </div>
</div>
<!-- row5--------------- -->
<div class="row">
  <div class="g1">
      <app-gauge></app-gauge>
  </div>
  <div class="g1">
      <app-geo></app-geo>
  </div>
  <div class="g1">
      <app-histogram></app-histogram>
  </div>
</div>
<!-- row6--------------- -->
<div class="row">
  <div class="g1">
      <app-org></app-org>
  </div>
  <div class="g1">
      <app-sankey></app-sankey>
  </div>
  <div class="g1">
      <app-stepped></app-stepped>
  </div>
</div>
<!-- row7--------------- -->
<div class="row">
  <div class="g1">
      <app-table></app-table>
  </div>
  <div class="g1">
      <app-timeline></app-timeline>
  </div>
  <div class="g1">
      <app-tree></app-tree>
  </div>
</div>
<!-- row8--------------- -->
<div class="row">
  <div class="g1">
      <app-word></app-word>
  </div>
  <div class="g1">
    <app-map></app-map>
</div>


</div>


